* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
#home {
  background-color: red;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}
nav {
  background-color: #000000;
  padding: 15px 40px;
  display: flex;
 border: rgb(111, 4, 104) 2px solid ;
  justify-content: flex-end;  /* RIGHT align */
  position: sticky;   /* IMPORTANT */
  top: 0;             /* IMPORTANT */
  z-index: 1000;
}

nav a {
  color: rgb(255, 255, 255);
  margin-left: 40px;   /* right align ku left margin */
  text-decoration: none;
  font-weight: bold;
}
nav a:hover {
  color: #00f2ff;
}
section {
  padding: 60px 40px;
  min-height: 100vh;
}
h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

p {
  max-width: 700px;
}
#home {
  background-color: #f5f5f5;

  background-color: #d2c1eb;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,0.05);
}

.home-section {
  display: flex;
  align-items: center;        /* vertical center */
  justify-content: space-between;
  min-height: 100vh;
  padding: 0 80px;
}

.home-text {
  flex: 1;
  display: flex;
  padding-left: 10%;
  flex-direction: column;
  justify-content: center;
  margin-top: -20px;
  animation: floatUpDown 3s ease-in-out infinite;   /* vertical center */
}


.home-text h1 {
  font-size: 50px;
  margin-bottom: 10px;
 font-family: 'Playfair Display', serif;
}

.home-text p {
  font-size: 25px;
  margin-bottom: 20px;
  font-family: 'Libre Baskerville', serif;
}
.home-image {
  flex: 1;
  display: flex;
  justify-content: center;   /* horizontal center */
  align-items: center;       /* vertical center */
}

.home-image img {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  object-fit: cover;
  animation: floatUpDown 4s ease-in-out infinite;
}

.btn {
  display: inline-block;   /* makes button wrap content */
  padding: 10px 22px;
 background-color: #5ab8b0;
  color: #ffffff;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 600;
  width: fit-content;    
transition: background-color 0.2s ease, transform 0.2s ease;/* forces short width */
}
.btn:hover {
  background-color: #007f85;
   transform: translateY(-2px);
}
@keyframes floatUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0);
  }
}
